.DS_Store
.localized
.image*
.vs/
.vscode/

# Build directories
build*/*

# Generated documentation
docs/html/

# XCode user specific files
xcuserdata/
*.xcworkspace/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
