.DS_Store
.localized
.vs/

# Build directories
build/
Src/build-lin/
Src/build-win/
Src/build-mac/
 
# XCode user specific files
xcuserdata/
*.xcworkspace/
*.mode1v3
*.mode2v3
*.perspectivev3
*.pbxuser
